<!DOCTYPE html>
<html>
<head>
	<title>Logout Page</title>
	<style>
        .container {
	width: 50%;
	margin: 0 auto;
	text-align: center;
    
}

h1 {
	font-family: Arial, sans-serif;
}

a {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #e13571;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
}

a:hover {
	background-color: #3e8e41;
}

    </style>
</head>
<body>
	<div class="container">
		<h1>You have been successfully logged out.</h1>
		<a href="signin">Login Again</a>
	</div>
</body>
</html>
